.App {
  text-align: center;
}
.inp {
text-align: center;
font-size: x-large;
outline: none;
padding: 8px;
background-color: #b0b5bd;
}
.container{
 display: flex;
 flex-direction: column;
 width: 100%;
}
.topMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.authy{
  display: flex;
  flex-direction: column;
  margin: 0px 240px;
}
.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.chats-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}
.home-header{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}
.HYPREF{
  text-align-last: center;
}
.msgList-container{
  overflow: auto;
  max-height: 83vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center; 
  font-size: calc(3px + 2vmin);
  color: white;
}
.msg-container{
  height: 455px;
    overflow-y: auto;
    width: 95%;
    padding: 16px;
}
.App-container{
  display: flex;
  margin-bottom: 32px;
}
.App-butt{
  text-align: center;
  font-size: x-large;
  padding: 8px;
  background-color: grey;
  border: grey solid 2px;
}
.delive{
  color:#61dafb ;
  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 3s; /*Скорость перехода состояния элемента*/
  animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: backwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 1s; /* Задержка перед началом */
}
@keyframes show{
  0%{
    opacity:0; 
  }
  35%{
    opacity: 1;
  }
  100% {
  opacity:0;
  }
 }
.chat-butt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: baseline;
  min-width: 200px;
  height: 83vh;
  background-color: gray;
  padding: 18px;
  border-radius: 10px;
}
.App-butt:hover{
  background-color:#61dafb ;
  transition: .3s; 
  }
.App-butt:active{
  background-color:#282c34 ;
  transition: .3s; 
 }
 .App-butt:disabled{
  text-align: center;
  font-size: x-large;
  padding: 8px;
  background-color: rgb(213, 204, 204);
  border:rgb(213, 204, 204);
 }

.App-link {
  color: #99a5a9;
  text-align: center;
}
.msgBox{
  background-color: grey;
  padding: 8px;
border-radius: 12px;
margin: 8px;
}
.date{
  font-size: 14px;
  color: skyblue;
  text-align: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader {
  /* position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px); */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}